html{
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(-45deg , rgb(164, 164, 255), rgb(252, 160, 229));
}

.box{
    width: 500px;
    margin: 0 auto;
    padding: 5px;
    height: 650px;
    background-color: aliceblue;

    overflow-x: hidden;
    overflow-y: auto;
}

.card{
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: 3px solid black;
    background-image: linear-gradient(40deg,rgb(212, 212, 212),rgb(226, 226, 226));
}

.card .flex-col{
    width: 100px;
    height: 100px;
}

.card .flex-col img{
    width:90px;
    height:90px;
    border-radius: 52px;
    /*border: 5px solid rgb(95, 218, 255);
    border: 5px solid rgb(255, 152, 255);
    border: 5px solid rgb(132, 187, 204);
    border: 5px solid rgb(252, 154, 235);*/
    border: 4px solid rgb(0, 28, 184);
}

.card .flex-row{
    padding: 5px;
    margin-left: 5px;
    flex-grow: 1;
    font-size: 25px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

span{
    display: block;
}